@import "variables";
@import "test";
@import "~bootstrap/scss/bootstrap.scss";
body {
    h2 {
        color: blue;
        font-size: $font-sm;
    }

    ::placeholder {
        color: rebeccapurple;
    }
    background: $purple;
}